<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <router-outlet ></router-outlet>
</div>


<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2>
      <i class="fa fa-user"></i>
      <a routerLink="/users/">users</a>
    </h2>
  </li>
  <li>
    <h2><a routerLink="/reservations">reservations</a></h2>
  </li>
  <li>
    <h2><a routerLink="/main">main</a></h2>
  </li>
  <li>
    <h2><a routerLink="/main/dashboard">dashboard</a></h2>
  </li>
</ul>
