.login {
  $login--width: 340px;
  $login--title: 28px;


  width: $login--width;
  padding: 90px 0;
  margin: auto;

  @at-root #{&}-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: $z-index--login;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__title {
    margin-top: 40px;
    color: $blue--title;
    text-align: center;
    font-size: $login--title;
    font-weight: $font-weight--bold;
  }
}

.login-link {
  color: $color--error;

  &:hover {
    color: darken($color--error, 20%);
  }
}

.login-form {
  $login-form__main: ();

  &__mail{
    $login-form__main: &;
    width: 100%;
    height: $input-text--height;
    padding: 0 10px;
  }

  &__pass {
    @extend #{$login-form__main};
    margin-top: 15px;
  }
}
